body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  box-shadow: 0px 5px 20px rgba(28, 28, 28, 0.1);
  padding: 16px 0;
}

.header__top {
  padding-bottom: 15px;
  border-bottom: 1px solid #DEDEFF;
}

.header__social {
  display: flex;
  align-items: center;
}

.header__social-link {
  margin-right: 20px;
  color: #000;
  font-weight: bold;
}

.header__phones-wrapper {
  text-align: right;
}

.header__phones-link {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #23283B;
}

.header__phones-link img {
  margin: 0 10px 3px 10px;
}

.header__bottom {
  padding-top: 16px;
}

.header__menu-item {
  display: inline-block;
  margin-right: 30px;
}

.header__menu-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 40px;
  color: #23283B;
}

.header__btn {
  display: block;
  line-height: 48px;
  width: 229px;
  height: 48px;
}

.dialog_btn {
  border-radius: 30px;
  background-color: #E6514A;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

/* Modifications */
.section_name {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #23283B;
}

.section_name::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 1px;
  bottom: 8px;
  transform: translateX(-55px);
  background-color: #E6514A;
}

.title_style {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 130%;
  color: #23283B;
}

.corporative_text {
  font-size: 22px;
  line-height: 27px;
  font-weight: 900;
  color: #3035C4;
  font-family: "Montserrat", sans-serif;
}

.courses_text-info {
  width: 336px;
}

/* Main */
.main__info {
  padding-top: 120px;
}

.main__info-text {
  font-family: Lato;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #3035C4;
}

.main__info-title {
  width: 570px;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #23283B;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 56px;
  line-height: 130%;
}

.main__info-title span {
  color: #E6514A;
}

.main__info-btn {
  margin-top: 50px;
  padding: 16px 60px;
}

/* Welcome */
.welcome {
  padding: 55px 0 100px 0;
  background-image: url("../img/dialog-bg-welcome.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.welcome__title {
  margin-top: 10px;
}

.welcome__video {
  height: 440px;
  position: relative;
}

.welcome__video img {
  width: 100%;
}

.welcome__video-play {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  color: #fff;
}

/* Programs */
.programs {
  padding: 100px 0 100px 0;
}

.programs__tarif-top {
  margin-top: 50px;
  min-height: 183px;
  text-align: center;
  padding: 28px 20px;
  border: 1px solid #DEDEFF;
  border-radius: 4px;
}

.programs__tarif-info {
  width: 237px;
  color: #3035C4;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
}

.programs__tarif-info span {
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  color: #3035C4;
}

.programs__tarif-text {
  padding-top: 16px;
  color: #23283B;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.programs__tarif-lists {
  min-height: 190px;
  margin-top: 30px;
}

.programs__tarif-item {
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  color: #23283B;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 150%;
}

.programs__tarif-item::before {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  background-image: url("../img/dialog-tarif-elemnt.svg");
  background-repeat: no-repeat;
  left: 0;
}

.programs__tarif-btn {
  display: block;
  width: 230px;
  margin: 0 auto;
  padding: 16px 65px;
}

.programs__tarif-present {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 19px;
  width: 205px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #3035C4;
}

.programs__tarif-present::before {
  position: absolute;
  content: '';
  background-image: url("../img/dialog-tarif-play.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  left: 0;
}

.programs__license {
  margin-top: 140px;
  height: 441px;
  border-radius: 20px;
  background-color: #3035C4;
}

/* Wrapper */
.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

/* Partners */
.partners__img {
  margin-top: 50px;
}

/* Courses */
.courses {
  margin-top: 100px;
  padding: 80px 0;
  background-color: #F8F8FF;
}

.courses__tab {
  margin-top: 50px;
}

.courses__slide {
  cursor: grab;
  padding: 50px 50px;
  margin-top: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 40px rgba(0, 11, 68, 0.22);
}

.courses__slide-title {
  font-family: "Montserrat", sans-serif;
  color: #3035C4;
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
}

.courses__slide-text {
  margin-top: 25px;
  margin-bottom: 50px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 180%;
}

.courses__elements {
  display: flex;
  justify-content: space-between;
}

.courses__element {
  width: 212px;
}

.courses__element-title {
  margin-bottom: 25px;
  font-family: "Montserrat", sans-serif;
  color: #23283B;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
}

.courses__element-list {
  padding-left: 30px;
  position: relative;
  margin-bottom: 16px;
}

.courses__element-list::before {
  position: absolute;
  content: '';
  background-image: url("../img/dialog-tarif-elemnt.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  left: 0;
}

.courses__element-list span {
  display: block;
  padding-bottom: 5px;
  font-family: "Lato", sans-serif;
  color: #23283B;
  font-weight: 800;
  font-size: 14px;
  line-height: 150%;
}

.courses__element-structure {
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 16px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 150%;
  color: #23283B;
  font-weight: 500;
}

.courses__element-structure::before {
  position: absolute;
  content: '';
  width: 60px;
  height: 4px;
  background-color: #E6514A;
  border-radius: 10px;
  bottom: 0;
}

.courses__element-structure span {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 150%;
  color: #E6514A;
}

/* Swiper Js */
.swiper-button-prev {
  width: 56px;
  height: 56px;
  box-shadow: 15px 10px 40px rgba(0, 11, 68, 0.22);
  border-radius: 50%;
}

.swiper-button-prev::after {
  content: '';
  background-image: url("../img/dialog-chevron.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 14px;
}

.swiper-button-next {
  width: 56px;
  height: 56px;
  box-shadow: -15px 10px 40px rgba(0, 11, 68, 0.22);
  border-radius: 50%;
}

.swiper-button-next::after {
  content: '';
  background-image: url("../img/dialog-chevron.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 14px;
  transform: rotate(180deg);
}

/* Teachers */
.teachers {
  padding: 100px 0 60px 0;
}

.teachers__card {
  margin-top: 50px;
  text-align: center;
}

.teachers__card-img {
  width: 376px;
  margin: 0 auto;
  height: 210px;
  background-color: #DEDEFF;
  border-radius: 12px;
}

.teachers__card-title {
  display: block;
  padding-top: 45px;
  color: #3035C4;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
}

.teachers__card-text {
  padding-top: 35px;
  color: #23283B;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 150%;
}

/* Advantage */
.advantage {
  padding: 80px 0 80px 0;
}

.advantage__item {
  text-align: center;
  margin-top: 80px;
}

.advantage__item-img {
  text-align: center;
}

.advantage__item-img img {
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
}

.advantage__item-title {
  display: block;
  margin-top: 12px;
  font-family: "Lato", sans-serif;
  color: #23283B;
  font-weight: 800;
  font-size: 18px;
  line-height: 150%;
}

.advantage__item-text {
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 150%;
}

.advantage__btn {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  width: 365px;
  height: 52px;
  line-height: 52px;
}
/*# sourceMappingURL=style.css.map */