@import 'settings'
$accent-color: #E6514A
$light-color: #DEDEFF
$dark-color: #23283B
$blue-color: #3035C4
$montserrat: 'Montserrat', sans-serif
$lato: 'Lato', sans-serif
$red-hover: #BE312B
=title-style
    text-align: center
    font-family: 'Montserrat', sans-serif
    font-weight: 800
    font-size: 48px
    line-height: 130%
    color: #23283B
=dialog-btn
    border-radius: 30px
    background-color: $accent-color
    text-align: center
    font-family: 'Montserrat', sans-serif
    font-weight: bold
    font-size: 16px
    color: #fff
=section-name
    text-transform: uppercase
    text-align: center
    font-family: 'Lato', sans-serif
    font-size: 14px
    line-height: 17px
    color: #23283B

/* Header */

.header
    width: 100%
    background-color: #fff
    position: fixed
    z-index: 2
    box-shadow: 0px 5px 20px rgba(28, 28, 28, 0.1)
    padding: 16px 0
    &__btn
        &-wrapper
            text-align: right
    &__top
        padding-bottom: 15px
        border-bottom: 1px solid $light-color
    &__social
        display: flex
        align-items: center
        &-link
            margin-right: 20px
            color: #000
            font-weight: bold
    &__phones
        &-wrapper
            text-align: right
        &-link
            font-weight: 900
            font-size: 14px
            line-height: 16px
            color: $dark-color
            img
                margin: 0 10px 3px 10px
    &__bottom
        padding-top: 16px
    &__menu
        &-item
            display: inline-block
            margin-right: 30px
        &-link
            font-family: Montserrat
            font-style: normal
            font-weight: bold
            font-size: 14px
            line-height: 40px
            color: $dark-color
    &__btn
        display: block
        line-height: 48px
        width: 229px
        height: 48px
.dialog_btn
    +dialog-btn


.dialog-burger
    background-image: url('../img/dialog-burger.svg')
    width: 25px
    height: 25px
    background-repeat: no-repeat
/* Modifications */
.header__menu.show_menu
    display: block
.dialog-burger
    display: none
.section_name
    position: relative
    &::before
        content: ''
        position: absolute
        width: 40px
        height: 1px
        bottom: 8px
        transform: translateX(-55px)
        background-color: $accent-color
    +section-name
.title_style
    +title-style
.corporative_text
    font-size: 22px
    line-height: 27px
    font-weight: 900
    color: $blue-color
    font-family: $montserrat

.courses_text-info
    width: 336px

/* Main */
.main
    padding-top: 100px
    &__info
        padding-top: 120px
        &-text
            font-family: Lato
            font-weight: bold
            font-size: 16px
            line-height: 150%
            color: $blue-color
        &-title
            width: 570px
            margin-top: 30px
            margin-bottom: 50px
            color: $dark-color
            font-family: Montserrat
            font-weight: 800
            font-size: 56px
            line-height: 130%
            span
                color: $accent-color
        &-btn
            margin-top: 50px
            padding: 16px 60px

/* Welcome */
.welcome
    padding: 55px 0 100px 0
    background-image: url('../img/dialog-bg-welcome.jpg')
    background-repeat: no-repeat
    background-position: bottom
    background-size: 100%
    &__title
        margin-top: 10px
    &__video
        height: 440px
        position: relative
        img
            width: 100%
        &-play
            display: block
            position: absolute
            top: 50%
            left: 50%
            transform: translateX(-50%)
            ion-icon
                width: 80px
                height: 80px
                color: #fff

/* Programs */
.programs
    padding: 100px 0 100px 0
    &__tarif
        &-top
            margin-top: 50px
            min-height: 183px
            text-align: center
            padding: 28px 20px
            border: 1px solid $light-color
            border-radius: 4px
        &-info
            width: 237px
            color: $blue-color
            font-family: $montserrat
            font-weight: 900
            font-size: 18px
            line-height: 22px
            span
                padding-left: 10px
                font-family: $montserrat
                font-weight: 900
                font-size: 40px
                line-height: 49px
                color: $blue-color
        &-text
            padding-top: 16px
            color: $dark-color
            font-family: Montserrat
            font-weight: bold
            font-size: 16px
            line-height: 20px
        &-lists
            min-height: 190px
            margin-top: 30px
        &-item
            position: relative
            padding-left: 30px
            margin-bottom: 12px
            color: $dark-color
            font-family: $lato
            font-size: 14px
            line-height: 150%
            &::before
                position: absolute
                content: ''
                width: 25px
                height: 25px
                background-image: url('../img/dialog-tarif-elemnt.svg')
                background-repeat: no-repeat
                left: 0
        &-btn
            display: block
            width: 230px
            margin: 0 auto
            padding: 16px 65px
        &-present
            position: relative
            display: block
            margin: 0 auto
            margin-top: 20px
            padding-left: 19px
            width: 205px
            font-family: $lato
            font-weight: 900
            font-size: 14px
            line-height: 16px
            color: $blue-color
            &::before
                position: absolute
                content: ''
                background-image: url('../img/dialog-tarif-play.svg')
                background-repeat: no-repeat
                width: 25px
                height: 25px
                left: 0
    &__license
        margin-top: 140px
        height: 441px
        border-radius: 20px
        background-color: $blue-color

/* Wrapper */
.wrapper
    max-width: 1170px
    margin: 0 auto

/* Partners */
.partners
    &__img
        margin-top: 50px

/* Courses */
.courses
    margin-top: 100px
    padding: 80px 0
    background-color: #F8F8FF
    &__tab
        margin-top: 50px
    &__slide
        cursor: grab
        padding: 50px 50px
        margin-top: 40px
        background-color: #fff
        border-radius: 10px
        box-shadow: 0px 10px 40px rgba(0, 11, 68, 0.22)
        &-title
            font-family: $montserrat
            color: $blue-color
            font-weight: 800
            font-size: 24px
            line-height: 130%
        &-text
            margin-top: 25px
            margin-bottom: 50px
            font-family: $lato
            font-size: 14px
            line-height: 180%
    &__elements
        display: flex
        justify-content: space-between
    &__element
        width: 212px
        &-title
            margin-bottom: 25px
            font-family: $montserrat
            color: $dark-color
            font-weight: 800
            font-size: 20px
            line-height: 130%
        &-list
            padding-left: 30px
            position: relative
            margin-bottom: 16px
            &::before
                position: absolute
                content: ''
                background-image: url('../img/dialog-tarif-elemnt.svg')
                background-repeat: no-repeat
                width: 25px
                height: 25px
                left: 0
            span
                display: block
                padding-bottom: 5px
                font-family: $lato
                color: $dark-color
                font-weight: 800
                font-size: 14px
                line-height: 150%
        &-structure
            position: relative
            padding-bottom: 8px
            margin-bottom: 16px
            font-family: $lato
            font-size: 14px
            line-height: 150%
            color: $dark-color
            font-weight: 500
            &::before
                position: absolute
                content: ''
                width: 60px
                height: 4px
                background-color: $accent-color
                border-radius: 10px
                bottom: 0
            span
                font-family: $lato
                font-weight: 800
                font-size: 14px
                line-height: 150%
                color: $accent-color

/* Swiper Js */
.swiper-button-prev
    width: 56px
    height: 56px
    box-shadow: 15px 10px 40px rgba(0, 11, 68, 0.22)
    border-radius: 50%
    &::after
        content: ''
        background-image: url('../img/dialog-chevron.svg')
        background-repeat: no-repeat
        width: 8px
        height: 14px

.swiper-button-next
    width: 56px
    height: 56px
    box-shadow: -15px 10px 40px rgba(0, 11, 68, 0.22)
    border-radius: 50%
    &::after
        content: ''
        background-image: url('../img/dialog-chevron.svg')
        background-repeat: no-repeat
        width: 8px
        height: 14px
        transform: rotate(180deg)

/* Teachers */
.teachers
    padding: 100px 0 60px 0
    &__card
        margin-top: 50px
        text-align: center
        &-img
            width: 376px
            margin: 0 auto
            height: 210px
            background-color: #DEDEFF
            border-radius: 12px
        &-title
            display: block
            padding-top: 45px
            color: $blue-color
            font-family: $montserrat
            font-weight: 800
            font-size: 20px
            line-height: 130%
        &-text
            padding-top: 35px
            color: $dark-color
            font-family: $lato
            font-size: 14px
            line-height: 150%

/* Advantage */
.advantage
    padding: 80px 0 80px 0
    &__item
        text-align: center
        margin-top: 80px
        &-img
            text-align: center
            img
                padding: 10px
                border-radius: 50%
                box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12)
        &-title
            display: block
            margin-top: 12px
            font-family: $lato
            color: $dark-color
            font-weight: 800
            font-size: 18px
            line-height: 150%
        &-text
            margin-top: 10px
            font-family: $lato
            font-size: 16px
            line-height: 150%
    &__btn
        display: block
        margin: 0 auto
        margin-top: 80px
        width: 365px
        height: 52px
        line-height: 52px

/* Questions */
.questions
    padding: 100px 0
    background-image: url('../img/dialog-questions-bg.jpg')
    background-repeat: no-repeat
    background-size: cover
    &__info
        &-title
            font-family: $montserrat
            color: #fff
            font-weight: 800
            font-size: 48px
            line-height: 130%
        &-text
            margin-top: 30px
            color: #fff
            font-family: $lato
            font-size: 16px
            line-height: 150%
    &__link
        line-height: 183px
    &__btn
        padding: 16px 60px

/* Footer */
.footer
    padding: 60px 0 40px 0
    background-color: $blue-color
    &__text
        margin-top: 25px
        font-family: $lato
        font-size: 12px
        color: #fff
        line-height: 150%
    &__center

    &__lists
        &-item
            margin-bottom: 25px
        &-link
            font-family: $montserrat
            color: #fff
            font-weight: bold
            font-size: 14px
            line-height: 17px
    &__right
        &-title
            margin-bottom: 12px
            font-family: $montserrat
            color: #fff
            font-weight: bold
            font-size: 14px
            line-height: 17px
        &-text
            margin-bottom: 25px
            font-family: $montserrat
            color: #fff
            font-size: 14px
            line-height: 17px
    &__contacts
        &-tel
            margin-bottom: 10px
            display: block
            padding: 0
            font-family: $montserrat
            color: #fff
            font-size: 14px
            line-height: 17px
            img
                padding-right: 5px

/* Hover Effects */
.header__social-link
    transition: all .5s 
    ion-icon
        &:hover
            color: $accent-color
            transition: all .5s
.header__menu-link
    transition: all .5s
    &:hover
        color: $blue-color
        transition: all .5s
.dialog_btn
    transition: all .5s
    &:hover
        color: #fff
        background-color: $red-hover
        transition: all .5s
.welcome__video-play
    &:hover
.welcome__video-play
    transition: all .5s
    ion-icon
        &:hover
            color: $accent-color
            transition: all .5s
.swiper-button-next,.swiper-button-prev
    transition: all .5s
    &:hover
        color: #fff
        background-color: $blue-color
        transition: all .5s
.swiper-button-next
    &:hover
        &::after
            background-image: url('../img/dialog-white.svg')
            background-repeat: no-repeat
            transform: rotate(0deg)
.swiper-button-prev
    &:hover
        &::after
            background-image: url('../img/dialog-white.svg')
            background-repeat: no-repeat
            transform: rotate(180deg)
.footer__lists-link
    transition: all .5s
    &:hover
        color: $accent-color
        transition: all .5s
.footer__contacts-tel
    &:hover
        color: #fff
.header__phones-link
    &:hover
        color: $dark-color

/* Modal */
.modal
    position: relative
    z-index: 2
    &__container
        padding: 0
        display: flex
        min-width: 770px
        height: 577px
        &-title
            color: $blue-color
            font-family: $montserrat
            font-weight: 800
            font-size: 32px
            line-height: 130%
        &-text
            margin-top: 12px
            font-family: $lato
            font-size: 12px
            line-height: 150%
        &-content
            padding: 52px 55px 52px 52px
        &-form
            span
                display: block
                margin-top: 15px
                margin-bottom: 10px
                color: $dark-color
                font-family: $montserrat
                font-weight: bold
                font-size: 14px
                line-height: 17px
            input
                opacity: 0.8
                padding: 15px 20px
                border-radius: 40px
                border: 1px solid #23283B
                width: 100%
                &::placeholder
                    color: #23283B
                    opacity: 0.3
        &-btn
            display: block
            margin-top: 35px
            padding: 16px 80px



/* Media */
@media ( max-width: 375px)
    .header__social
        display: none
    .header__top
        display: none
    .header__menu
        display: none
    .header__btn
        display: none
    .main__info-text
        display: block
        font-size: 18px
        text-align: center
    .main__info-title
        font-size: 46px
        text-align: center
        width: 327px
    .main__info-btn 
        display: block
        width: 327px
        margin: 0 auto
        font-size: 13px
    .main__info-img
        width: 327px
        margin-top: 50px
        img
            width: 327px
    .welcome__title
        font-size: 40px
    .welcome__video
        height: 125px
    .partners__img 
        text-align: center
    .advantage__title 
        font-size: 40px
    .courses__elements
        flex-wrap: wrap
    .teachers__title 
        font-size: 40px
    .teachers__card-img
        width: 324px
    .advantage__btn 
        width: 313px
    .courses__title 
        font-size: 40px
    .partners__title 
        font-size: 40px
    .programs__title 
        font-size: 40px
    .header__bottom-info
        display: flex
        justify-content: space-between
        align-items: center
    .dialog-burger
        display: block

@media ( max-width: 450px)
    .header__social
        display: none
    .header__top
        display: none
    .header__menu
        display: none
    .header__btn
        display: none
    .main__info-text
        display: block
        font-size: 18px
        text-align: center
    .main__info-title
        font-size: 46px
        text-align: center
        width: 327px
    .main__info-btn 
        display: block
        width: 327px
        margin: 0 auto
        font-size: 13px
    .main__info-img
        width: 327px
        margin-top: 50px
        img
            width: 327px
    .welcome__title
        font-size: 40px
    .welcome__video
        height: 125px
    .partners__img 
        text-align: center
    .advantage__title 
        font-size: 40px
    .courses__elements
        flex-wrap: wrap
    .teachers__title 
        font-size: 40px
    .teachers__card-img
        width: 324px
    .advantage__btn 
        width: 313px
    .courses__title 
        font-size: 40px
    .partners__title 
        font-size: 40px
    .programs__title 
        font-size: 40px
    .header__bottom-info
        display: flex
        justify-content: space-between
        align-items: center
    .dialog-burger
        display: block